@import '/src/assets/styles/mixins.scss';
@import '/src/assets/styles/variables.scss';

@include titles(2em);

p {
    color: $light-gray;
    line-height: 2rem;
}

.methodology-section {
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
}