@import '/src/assets/styles/mixins.scss';
@import '/src/assets/styles/variables.scss';


.mission-vision {
    width: 100vw;
    height: 80vh;
    background-image: url('../../../assets/img/missionvision.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C7D4EE;

    .mission-vision-container {
        margin-left: auto;
    }

    @include titles(2em);

    @include responsive('small') {
        background-image: none;
        background-color: #C7D4EE;
    }

    @include responsive('medium') {
        background-image: none;
        background-color: #C7D4EE;

    }

    @include responsive('large') {
        .mission-vision-container {
            margin-left: 10%;
        }

        @include titles(2.5em);

    }


    p {
        text-align: start;
        color: $light-gray;
        line-height: 2em;
        font-weight: 400;
        font-size: 1.2em;
    }
}