@import '../../../assets/styles/variables.scss';

.promos-section {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-y: hidden;

  .promos-container {
    text-align: left;
    align-content: center;
    .promos-tittle {
      font-size: 2rem;
      font-weight: 900;
    }
    .promos-text {
      color: $light-gray;
    }
    .promos-button {
      background-color: $flourescent-cyan;
    }
  }
  .promos-img-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .img-container {
      width: -webkit-fill-available;
    }
    .promos-img {
      width: 90%;
      height: auto;
    }
  }

  @media screen and (min-width: 980px) {
    height: 60vh;
    .space-between {
      padding: 1.5rem 0;
    }
    .promos-text {
      line-height: 2rem;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 980px) {
    height: 50vh;
  }

  @media screen and (min-width: 760px) and (max-width: 980px) {
    .space-between {
      padding: 2rem 0;
    }
    .promos-text {
      line-height: 2rem;
    }
  }
  @media screen and (min-width: 280px) and (max-width: 760px) {
    .space-between {
      padding: 1rem 0;
    }
    .promos-text {
      line-height: 1.5rem;
    }
  }
}
