$light-pale-blue: #95ace9;
$pale-blue: #6a84bc;
$dark-blue: #103c93;
$light-pale-cyan: #dbf3f7;
$flourescent-cyan: #04dbbb;
$light-cyan: #63d3c9;
$greeanest-cyan: #34c3ac;
$cyan-cyan-dark: #30c4b4;
$cyan-cyan-light: #29ccb4;
$light-gray: #7d8080;

$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;

$breakpoints: (
  'small': (
    min-width: $mobile-landscape,
  ),
  'medium': (
    min-width: $tablet,
  ),
  'large': (
    min-width: $desktop,
  ),
);

@mixin responsive($size) {
  $query: map-get($breakpoints, $size);

  @media #{$query} {
    @content;
  }
}
